/* Enter your custom styles here */
.header__padding{
    padding : 0px 2rem;
}

.blog__header>a.sapMLnk{
    padding : 1rem;
    color : rgb(54, 54, 54);
    cursor : pointer;
}

.blog__header>a.sapMLnk:hover{
    color : gray;
    text-decoration : none;
    text-decoration-line: none;
}
 
.blog__page.sapMPage>.sapMPageHeader+section{
    top: 3.75rem;
}

.blog__titleBox{
    padding: 2rem 2rem 1rem 8.3rem;
    background-color: white;
}

.blog__titleBox>div.sapMBarChild{
    width : fit-content;    
}

.blog__page .sapMPanel .sapMPanelContent{
    padding: 2rem 8.3rem 1rem 8.3rem;
}

.maincontent a{
    font-size: 1.2rem;
}

.maincontent__content{
    width: 500px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:3;
    word-break: keep-all; 
}

.maincontent .maincontent__tags>div:not(:last-child)::after{
    content: "|";
}

.maincontent li[role="listitem"]{
    background-color: transparent;
}

.blog__tagTitle{
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.blog__content>div.sapMFlexItem{
    padding : 5px;
}

.blog__comment{
    border-top: 1px solid black;
    padding-top:2rem;
}

.comment__list{
    background: transparent;
}

.comment__item{
    background-color: white;
    padding: 10px 10px 20px 20px;
}

.comment__item>div:first-child>div:first-child{
    display: flex;
    align-items: center;
}